@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: unset;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 10px 8px 8px 0;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}

footer .content .topic1{
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
text-align: center;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right img[type="text"]{

  
  
    outline: none;
    color: #f00909;
    background: #000;
    border-radius: 95px;
    padding-left: 114px;
    font-size: 28px;
   
  
}
footer .content .right input[type="submit"]{

  
    height: 33px;
    width: 73%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 64px;
    letter-spacing: 3px;
    cursor: pointer;
    margin-top: 1px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
  
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 20px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: black;
  padding: 0 40px 5px 0;
  
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a span:hover{
  color: black;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-weight: bold;
}


